.wrapper {
    position: relative;
    padding: 0;
    display:inline;
}
.text {
    position: absolute;
    color:#000;
    background-color:rgba(255,255,255,0);
    width: 158px;
    height: 158px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family:'Chelsea Market',Georgia,serif;
}
.text:hover {
    opacity:1;
}
}

img {
    z-index:1;
}

.socialLink {
  z-index: 100;
  position: fixed;
  right: 1em;
  top: 0;
  width: 2em;
  height: 5em;
}
/* line 66, ../sass/style.scss */
.socialLink .social {
  float: right;
  width: 2em;
  height: 2em;
  color: #fff;
}
/* line 71, ../sass/style.scss */
.socialLink .social h2 {
  display: inline-block;
  font-size: 1.3em;
}
/* line 75, ../sass/style.scss */
.socialLink .social:hover {
  color: #666;
}

